/* Write your CSS here */
.events-main-container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.events-container {
  background-image: linear-gradient(to right, #475569, #323f4b);
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.events-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 550;
  font-size: 28px;
}

.event-items-container {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
